#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.textDiv {
  display: flex;
}

.addTask {
  padding-top: 50px;
  height: 80px;
  width: 85vw;
  background-color: palevioletred;
}

.inputBox {
  width: 250px;
  height: 25px;
  margin-right: 20px;
  font-weight: 500;
  font-size: larger;
}

.enterBtn {
  padding: 6px 20px;
  font-weight: 600;
}

.deleteBtn {
  height: 25px;
  font-weight: 600;
  margin-left: 30px;
  margin-top: 21px;
}

.checkBox {
  height: 25px;
  width: 25px;
  margin-top: 21px;
}

.taskList {
  line-height: 5  px;
  height: 30px;
}

.taskName {
  margin-left: 20px;
}